/* Global selector */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General selectors */

html {
  overflow-x: hidden;
}

body {
  background-color: black;
  position: relative;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

body::after {
  content: '';
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0) 0%,
      rgba(0, 0, 0, 1) 45%
    ),
    url('./images/pexels-francesco-ungaro-998641.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 35%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header,
footer {
  flex-shrink: 0;
}

section {
  flex-grow: 1;
}

section#about {
  margin-top: 50px;
}

#about h1 {
  margin-bottom: 15px;
}

a {
  color: white;
  text-decoration: none;
}

button {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  font-family: inherit;
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 100px auto;
  max-width: 1024px;
}

.container a {
  color: rgb(156, 156, 156);
}

.container a:hover {
  color: grey;
  text-decoration: underline;
}

/* Header section with nav bar */

header {
  padding: 10px 0 0;
}

header nav ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style: none;
}

header nav ul li button {
  font-size: 2rem;
  position: relative;
}

header nav ul li button:hover {
  transform: translateY(25%);
}

.nav-active {
  transform: translateY(25%);
}

/* Hero section with intro and profile image */

#about {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
}

#about .secret {
  color: rgb(20, 20, 20);
  cursor: default;
  font-size: 2rem;
  position: absolute;
  transition: color 0.5s linear;
}

#about .secret.brighter {
  color: white;
}

#secret1 {
  /* node */
  top: 91px;
  left: 30%;
}

#secret2 {
  /* next */
  top: 155px;
  left: 75%;
}

#secret3 {
  /* react */
  top: 250px;
  left: 5%;
}

#secret4 {
  /* js */
  top: 241px;
  left: 72%;
}

#secret5 {
  /* html */
  top: 400px;
  left: 17%;
}

#secret6 {
  /* css */
  top: 420px;
  right: 20%;
}

#secret7 {
  /* mongodb */
  top: 580px;
  right: 20%;
}

#secret8 {
  /* python */
  top: 660px;
  left: 20%;
}

#secret9 {
  /* uiux */
  top: 540px;
  left: 23%;
}

#secret10 {
  /* sql */
  top: 690px;
  right: 34%;
}

#secret11 {
  /* tailwind */
  top: 600px;
  left: 5%;
}

#about h1 {
  font-size: 2.5rem;
}

#about img {
  border: 5px white solid;
  border-radius: 50%;
  width: 350px;
}

/* About section */

/* Projects section */

#projects .container article {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 225px);
  grid-template-rows: repeat(4, 225px);
  justify-content: center;
}

.big-project {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.big-project-image {
  border: solid 1px var(--accent-clr);
  border-radius: 1%;
  width: 100%;
}

.big-project-caption {
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 1.1rem;
  position: relative;
  bottom: 120px;
  padding: 5px 10px;
}

#projects article div a img {
  filter: grayscale(70%);
  transition: filter 0.2s;
}

#projects article div a img:hover {
  filter: grayscale(0%);
}

.smaller-project-image {
  border: solid 1px var(--accent-clr);
  border-radius: 3%;
  width: 100%;
}

.smaller-project-caption {
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 1rem;
  position: relative;
  bottom: 115px;
  padding: 5px 10px;
}

/* Contact section styles */

#contact article {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 100px;
  position: relative;
}

#contact article ul {
  list-style-type: none;
}

#contact article ul li {
  display: flex;
  font-size: 1.2rem;
  margin: 0 0 15px 15px;
}

#contact article ul li span:first-child {
  font-size: 2rem;
  width: 50px;
}

#contact article ul li a,
#contact article ul li span:not(:first-child) {
  margin-top: 10px;
}

/* Resume styles */

.center-text {
  text-align: center;
}

.accent-button {
  background-color: var(--accent-clr);
  border: white 1px solid;
  border-radius: 5px;
  color: var(--primary-clr) !important;
  padding: 5px 10px;
  text-decoration: none;
}

.accent-button:first-of-type {
  margin-right: 15px;
}

.resume-header {
  margin: 0px 0 10px 0;
}

#resume h3 {
  font-size: 2rem;
  margin-top: 30px;
}

#resume article ul {
  margin-left: 45px;
}

.resume-subheader {
  margin-top: 15px;
}

/* Footer styles */

footer {
  padding: 5px 40px 5px 40px;
}

footer p {
  color: var(--primary-clr);
  font-size: 1.4rem;
  text-align: center;
}

/* Styles for medium-sized screens of < 1060px */

@media screen and (max-width: 1060px) {
  .container {
    width: 85vw;
  }

  /* Issue: A negative margin-bottom is the only way I've been able to eliminate the gap beneath the projects grid map? */

  #projects .container article {
    grid-gap: 90px 25px;
    grid-template-columns: repeat(2, 35%);
    grid-template-rows: repeat(8, 6.5%);
  }
}

/* Drop the secret texts at this size */
@media screen and (max-width: 974px) {
  .secret {
    display: none;
  }
}

/* Styles for very small screens, mobile phones < 575px */

@media screen and (max-width: 765px) {
  body {
    font-size: 1rem;
  }

  header nav ul li {
    font-size: 1.5rem;
    position: relative;
  }

  #hero {
    min-height: 650px;
  }

  #hero h1 {
    font-size: 2rem;
  }

  #hero img {
    border: 5px white solid;
    border-radius: 50%;
    width: 300px;
  }

  .container {
    width: 90vw;
  }

  #projects .container article {
    grid-gap: 35px 25px;
    grid-template-columns: 70% 1fr;
    grid-template-rows: repeat(12, 8%);
  }

  .big-project {
    grid-column-end: 3;
    grid-row-end: 2;
  }

  .smaller-project {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #contact article {
    padding: 20px;
  }
}
